.sect-two-container {
  height: 100vh;
}

.sect-two-left-side {
  z-index: 1;
}

.sect-two-left-side-item-one {
  top: 20vh;
  left: 60%;
}

.sect-two-left-side-item-two {
  top: 45vh;
  left: 5%;
}

.sect-two-left-side-item-three {
  top: 70vh;
  left: 5%;
}

.sect-two-right-side-image-container {
  height: 100vh;
  overflow: hidden;
}

.sect-two-rigth-side-image1 {
  top: 40vh;
  left: 12%;
  width: 40%;
}

.sect-two-rigth-side-image2 {
  top: -1vh;
  left: 50%;
  width: 40%;
}

@media screen and (max-width: 1224px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .sect-two-left-side {
    height: 50vh;
    position: absolute;
    top: 50vh;
  }

  .sect-two-left-side-item-one {
    display: none;
  }

  .sect-two-left-side-item-two {
    top: 5vh;
  }

  .sect-two-com-soon-btn {
    background-color: #f10dd3;
    border: none;
    border-radius: 2rem;
    padding: 1rem;
  }

  .sect-two-left-side-item-three {
    top: 25vh;
  }

  .sect-two-right-side {
    position: absolute !important;
    height: 50vh;
    align-items: end;
  }

  .sect-two-rigth-side-image1 {
    top: 8vh;
    left: 5%;
  }

  .sect-two-rigth-side-image2 {
    top: -8vh;
    left: 50%;
  }
}

@media screen and (max-width: 500px) {
  .sect-two-svg {
    display: none;
  }

  .sect-two-left-side-item-two {
    top: 5vh;
  }

  .sect-two-rigth-side-image1 {
    width: 100%;
  }

  .sect-two-rigth-side-image2 {
    display: none;
  }
}
