.sect-seven-container {
  height: 100vh;
}

.sect-seven-left-side {
  z-index: 1;
}

.sect-seven-left-side-item-one {
  top: 20vh;
  left: 60%;
  z-index: 10;
}

.sect-seven-left-side-item-two {
  top: 35vh;
  left: 5%;
}

.sect-seven-left-side-item-three {
  top: 90vh;
  left: 5%;
}

.sect-seven-right-side-image-container {
  overflow: hidden;
  height: 100vh;
}

.sect-seven-rigth-side-image1 {
  position: absolute;
  top: 20vh;
  left: 15%;
  width: 30% !important;
}

.sect-seven-rigth-side-image2 {
  position: absolute;
  top: 2vh;
  left: 60%;
  width: 40% !important;
}


@media screen and (max-width: 1224px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .sect-seven-left-side {
    height: 50vh;
    position: absolute;
    top: 50vh;
  }

  .sect-seven-left-side-item-one {
    display: none;
  }

  .sect-seven-left-side-item-two {
    top: -3vh;
  }

  .sect-seven-left-side-item-three {
    top: 30vh;
  }

  .sect-seven-left-side-item-two-item-image {
    background: var(--color-white);
    border-radius: 1rem;
  }

  .sect-seven-com-soon-btn {
    background-color: var(--color-white);
    color: var(--page-seven-right-side-color) !important;
    border: none;
    border-radius: 2rem;
    padding: 1rem;
  }

  .sect-seven-right-side {
    position: absolute !important;
    height: 50vh;
  }
}

@media screen and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .sect-seven-left-side {
    height: 50vh;
    position: absolute;
    top: 50vh;
  }

  .sect-seven-left-side-item-one {
    display: none;
  }

  .sect-seven-left-side-item-two {
    top: -3vh;
  }

  .sect-seven-left-side-item-three {
    top: 43vh;
  }

  .sect-seven-left-side-item-two-item-image {
    background: var(--color-white);
    border-radius: 1rem;
  }

  .sect-seven-right-side {
    position: absolute !important;
    height: 50vh;
  }

  .sect-seven-rigth-side-image1 {
    width: 20em;
  }

  .sect-seven-rigth-side-image2 {
    display: none;
  }
}
