.sect-one-container {
  height: 100vh;
}

.sect-one-left-side {
  z-index: 100;
}

.sect-one-left-side-item-one {
  top: 20vh;
  left: 2%;
  z-index: 100;
}

.sect-one-left-side-item-two {
  top: 35vh;
  left: 5%;
}

.sect-one-left-side-item-three {
  top: 90vh;
  left: 5%;
}

.sect-one-svg {
  top: 1vh;
  height: 50vh;
  width: 100%;
  z-index: 1;
}

.sect-one-svg-img {
  position: absolute;
  z-index: 1000;
  width: 18%;
  top: 7vh;
  left: 28%;
  background: none;
}

.sect-one-right-side-image-container {
  height: 100vh;
}

@media screen and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .sect-one-svg {
    display: none;
  }

  .sect-one-left-side {
    height: 50vh;
    position: absolute;
    top: 50vh;
  }

  .sect-one-left-side-item-one {
    display: none;
  }

  .sect-one-left-side-item-two {
    top: -3vh;
  }

  .sect-one-left-side-item-three {
    top: 43vh;
  }

  .sect-one-left-side-item-two-item-image {
    background: var(--color-white);
    border: 3px solid var(--color-purple);
    border-radius: 1rem;
  }

  .sect-one-right-side {
    position: absolute !important;
    height: 50vh;
    align-items: end;
  }

  .sect-one-right-side-image-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 10vh;
    height: 50vh;
  }

  .sect-one-rigth-side-image1 {
    width: 20em;
  }

  .sect-one-rigth-side-image2 {
    display: none;
  }
}

@media screen and (max-width: 1224px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .sect-one-svg {
    display: none;
  }

  .sect-one-left-side {
    height: 50vh;
    position: absolute;
    top: 50vh;
  }

  .sect-one-left-side-item-one {
    display: none;
  }

  .sect-one-left-side-item-two {
    top: -3vh;
  }

  .sect-one-left-side-item-three {
    top: 43vh;
  }

  .sect-one-left-side-item-two-item-image {
    background: var(--color-white);
    border: 3px solid var(--color-purple);
    border-radius: 1rem;
  }

  .sect-one-right-side {
    position: absolute !important;
    height: 50vh;
    align-items: end;
  }

  .sect-one-right-side-image-container {
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 10vh;
    height: 50vh;
  }

  .sect-one-right-side-image-container img {
    width: 15em;
  }
}
