@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --header-bg-color: #21222a;
  --main-bg-color: #282d35;
  --title-color: #61dafb;
  --text-color-dark: #f7f7f7;
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
  --color-purple: #6111a5;
  --color-dark: #cdcbcf;
  --transition: all 400ms ease;
  --container-width-lg: 90%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
  --ff: "Poppins";
  --page-two-left-side-color: #4926c6;
  --page-two-right-side-color: #1c0361;
  --page-three-left-side-color: #16263b;
  --page-three-right-side-color: #0d131b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff);
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 40% 60%;
}

.left-side-item-one-item {
  top: 20vh;
  left: 2%;
  z-index: 110;
}

.custom-shape-divider-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 130%;
  overflow: hidden;
  line-height: 0;
  z-index: 100;
}

.custom-shape-divider-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100vh;
}

.left-side-item-two-item {
  top: 38vh;
  left: 8%;
  z-index: 110;
}

.left-side-item-three-item {
  top: 90vh;
  left: 8%;
  width: 80%;
  z-index: 110;
}

.right-side {
  background-color: var(--color-dark);
  height: 100vh;
  z-index: 0;
  overflow: hidden;
}

.right-side img {
  height: 80vh;
}

.path-slider {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 110;
  background-color: #282d35;
}

.item__circle-one {
  background-image: url("https://cdn.rawgit.com/lmgonzalves/path-slider/aafa43d3/images/img1.jpg");
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  border-radius: 100%;
  transform: scale(0.5);
  transition: 0.5s transform;
  border: 20px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 15vh;
  left: 37%;
}

.item__circle-two {
  background-image: url("https://cdn.rawgit.com/lmgonzalves/path-slider/aafa43d3/images/img2.jpg");
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  border-radius: 100%;
  transform: scale(0.5);
  transition: 0.5s transform;
  border: 20px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 13vh;
  left: 40%;
}

.item__circle-three {
  background-image: url("https://cdn.rawgit.com/lmgonzalves/path-slider/aafa43d3/images/img3.jpg");
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  border-radius: 100%;
  transform: scale(0.5);
  transition: 0.5s transform;
  border: 20px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 17vh;
  left: 43%;
}

.item__circle-four {
  background-image: url("https://cdn.rawgit.com/lmgonzalves/path-slider/aafa43d3/images/img4.jpg");
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  border-radius: 100%;
  transform: scale(0.5);
  transition: 0.5s transform;
  border: 20px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 24vh;
  left: 44%;
}

.item__circle-five {
  background-image: url("https://cdn.rawgit.com/lmgonzalves/path-slider/aafa43d3/images/img5.jpg");
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  border-radius: 100%;
  transform: scale(0.5);
  transition: 0.5s transform;
  border: 20px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 30vh;
  left: 43%;
}

.item__circle-six {
  background-image: url("https://cdn.rawgit.com/lmgonzalves/path-slider/aafa43d3/images/img2.jpg");
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  border-radius: 100%;
  transform: scale(0.5);
  transition: 0.5s transform;
  border: 20px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 33vh;
  left: 40%;
}

.item__circle-seven {
  background-image: url("https://cdn.rawgit.com/lmgonzalves/path-slider/aafa43d3/images/img4.jpg");
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  border-radius: 100%;
  transform: scale(0.5);
  transition: 0.5s transform;
  border: 20px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 32vh;
  left: 37%;
}

.active {
  border: 30px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3);
}

.page-three-img3 {
  right: 30%;
  top: 31vh;
}

.page-three-img4 {
  top: 12vh;
  right: 6%;
}

.page-three-img1 {
  top: -6vh;
  right: 35%;
  width: 25%;
  height: 30vh !important;
}

.page-three-img2 {
  top: -15vh;
  right: 1%;
  height: 30vh !important;
}

.ux-strategy{
  left: 55%;
  top: 15vh !important;
}
